<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-12">    
        <div class="jumbotron">
            <h1>List / Delete objects</h1>
            <p>Request status: <b><%= status %></b></p>
            <p><a href="#" onclick="history.back();">vissza</a></p>
	        <table style="width:100%;" border="1" cellpadding="1" cellspacing="1">
	            <thead>
	                <tr>
	                    <th style="padding:3px 10px;">Bucket name</th>
	                    <th>&nbsp;</th>
	                </tr>
	            </thead>
	            <tbody>
	            	<% if (typeof data == 'object' && data) { %>
		                <% data.forEach(function(d) { %>
		                <tr>
		                    <td style="padding:3px 10px;"><a href="/list/<%= d.Name %>"><%= d.Name %> <%= d.Prefix %></a></td>
		                    <td style="text-align:right; padding:3px 10px;">
		                    	&nbsp;
		                    </td>
		                </tr>
		                <% }); %>
		            <% } %>
		            <% if (typeof subdirs == 'object' && subdirs) { %>
		                <% subdirs.forEach(function(d) { %>
		                <tr>
		                    <td style="padding:3px 10px;"><%= d.Prefix %></td>
		                    <td style="text-align:right; padding:3px 10px;">
		                    	<form action="/list/<%= bucket %>" method="post">
		                    		<input type="hidden" name="bucket" value="<%= bucket %>/">
		                    		<input type="hidden" name="folderpath" value="<%= d.Prefix %>">
		                    		<button type="submit">Open</button>
		                    	</form>
		                    </td>
		                </tr>
		                <% }); %>
		            <% } %>
	            </tbody>
	        </table>
        </div>
    </div>
</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>